<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Scan the colour that represents your mood.</h4>
			</div>
			<div class="modal-body">
				<button type="button" class="btn btn-success">
					Launch the camera
				</button>
			</div>
			<div class="horizontal-container">
				<div class="colour-wrapper">
					<ul class="list-inline">
						<li>
							<span class="colour-box poppy-red"></span>
						</li>
						<li>
							<span class="colour-box nectarine"></span>		
						</li>
						<li>
							<span class="colour-box lemon-zest"></span>		
						</li>
						<li>
							<span class="colour-box tender-shoots"></span>		
						</li>
						<li>
							<span class="colour-box emerald"></span>		
						</li>
						<li>
							<span class="colour-box grayed-jade"></span>		
						</li>
						<li>
							<span class="colour-box dusk-blue"></span>		
						</li>
						<li>
							<span class="colour-box monaco-blue"></span>		
						</li>
						<li>
							<span class="colour-box african-violet"></span>		
						</li>
						<li>
							<span class="colour-box linen"></span>		
						</li>
						<li>
							<span class="colour-box tidal-foam"></span>			
						</li>
						<li>
							<span class="colour-box alloy"></span>			
						</li>
						<li>
							<span class="colour-box sunflower"></span>
						</li>
						<li>
							<span class="colour-box vibrant-orange"></span>	
						</li>

					</ul>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
			</div>
		</div>
	</div>
</div>

<div>
	
</div>

