<div class="content-wrapper">
	<div class="back-button">
		<a href="/">Choose color again</a>
	</div>
	<div class="sidebar">
		<div id="nav-anchor"></div>
		<nav>
			<ul class="slide-control">
				<li class="slide-1">
					<!-- &nbsp; -->
					<a href="#flavor-1">
						Citrus
					</a>
				</li>
				<li class="slide-2">
					<a href="#flavor-2">
						Bittersweet
					</a>
				</li>
				<li class="slide-3">
					<a href="#flavor-3">
						Sweet
					</a>
				</li>
				<li class="slide-4">
					<a href="#flavor-4">
						Disgusting
					</a>
				</li>
			</ul>
		</nav>
	</div><!--End sidebar-->

	<div id="content">
		<section id="flavor-1">
			flavor-1
		</section>
		<section id="flavor-2">
			flavor-2
		</section>
		<section id="flavor-3">
			flavor-3
		</section>
		<section id="flavor-4">
			flavor-4
		</section>
	</div>
</div>

