<div class="content-wrapper">
	<div class="sidebar">
		<div id="nav-anchor"></div>
			<section>
				<div class="inner-wrapper">
					<div class="nav-head">
						<img src="images/tea-logo.png" alt="logo">
					</div>
					<div class="flavor-wrapper">
						<!-- <h5>
							Thank you for your participation.
							<br>The colour detected is..
						</h5> -->
						<h5>
							Here is our recommendation
						</h5>
						<!-- <div class="dusk-blue selected-colour">
							<span class="colour-box">
								Dusk Blue
							</span>		
						</div>
						<img src="images/arrow.svg" alt="arrow">
						<h5>
							Your mood is
						</h5>
						<h1 class="thankyou-header">
							Relaxing
						</h1> -->
						<div class="relaxing">
							<img src="images/relaxing.png" alt="">	
						</div>
						
						<nav>
							<h5>
								Below are different flavor choices
							</h5>
							<ul class="slide-control list-inline" id="padding-top">
								<li class="slide-1">
									<a href="#flavor-1">
										Sweet
									</a>
								</li>
								<li class="slide-2">
									<a href="#flavor-2">
										Floral
									</a>
								</li>
								<li class="slide-3">
									<a href="#flavor-3">
										Nutty
									</a>
								</li>
								<li class="slide-4">
									<a href="#flavor-4">
										Fruity
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</section>
		
	</div><!--End sidebar-->

	<div id="content">
		<section id="flavor-1">
			<div class="inner-wrapper violet-pattern">
				<div class="flavor-box">
					<h2 class="pull-right">
						Sweet
					</h2>
				</div>
				<div class="recommended-tea-2" id="home-video-2">
					<div class="tea-wrapper">
						<img src="images/4_chamomile.png" alt="namaste">	
						<span class="journey-button">
							Start the journey
						</span>
					</div>
				</div>
			</div>
		</section>

		<section id="flavor-2">
			<div class="inner-wrapper blue-pattern">
				<div class="flavor-box">
					<h2 class="pull-right">
						Floral
					</h2>
				</div>
				<div class="recommended-tea" id="home-video">
					<div class="tea-wrapper">
						<img src="images/jasmine.png" alt="namaste">	
						<span class="journey-button">
							Start the journey
						</span>
					</div>
				</div>
			</div>
		</section>
		<!-- <section id="flavor-3">
			<div class="inner-wrapper brown-pattern">
				<div class="flavor-box">
					<h2 class="pull-right">
						Nutty
					</h2>
				</div>

				<div class="recommended-tea" id="home-video">
					<img src="images/3_peppermint.jpg" alt="namaste">
					<div class="journey-button-wrapper">
						<span class="journey-button">
							Start the journey
						</span>
					</div>
				</div>
			</div>
		</section>
		<section id="flavor-4">
			<div class="inner-wrapper orange-pattern">
				<div class="flavor-box">
					<h2 class="pull-right">
						Fruity
					</h2>
				</div>

				<div class="recommended-tea" id="home-video">
					<img src="images/4_chamomile.jpg" alt="namaste">
					<div class="journey-button-wrapper">
						<span class="journey-button">
							Start the journey
						</span>
					</div>
				</div>
			</div>
		</section> -->
	</div><!--End content id-->
</div>

<!--Include everything in here-->
<!-- <div class="share-wrapper">
	 <div class="share-overlay">	 
		<div class="share-sections">
			<div class="share-social">
					<div class="share-text">SHARE THIS <span class="hightext">COLOUR</span></div>
					<div class="share-content-text"><img src="http://www.tealeaves.com/static/images/social-icons/facebook.png"/> <img src="http://www.tealeaves.com/static/images/social-icons/twitter.png"/> <img src="http://www.tealeaves.com/static/images/social-icons/instagram.png"/></div>
			</div>
			 <div class="share-purchase">
					<div class="share-text">TASTE THIS <span class="hightext">COLOUR</span></div>
					 <div class="share-content-text">Enjoy this at home &amp; share with your love ones</div>
					 <div class="share-content-link"><a href="http://www.tealeaves.com/organic-jasmine-pearl">PURCHASE</a></div>
			</div>
			<div class="share-collection">
					<div class="share-text">COLLECT THIS <span class="hightext">COLOUR</span></div>
					<div class="share-content-link"><a href="#">BEGIN</a></div>
			</div>
			</div>
		</div>
	 </div>
</div> -->

<div class="back-button">
	<a class="try-again-btn" href="/camera">
		<img src="images/capture-icon.svg" alt="capture again">
	</a>
	<!-- <h5>Capture the <Br>colour again</h5> -->
</div>
