<div class="content-wrapper">
	<div class="sidebar">
		<div id="nav-anchor"></div>
		<nav>
			<div class="nav-head">
				<img src="images/tea-logo.png" alt="logo">
			</div>
			<ul class="slide-control">
				<li class="slide-1">
					<a href="#flavor-1">
						Citrus
					</a>
				</li>
				<li class="slide-2">
					<a href="#flavor-2">
						Bittersweet
					</a>
				</li>
				<li class="slide-3">
					<a href="#flavor-3">
						Sweet
					</a>
				</li>
				<li class="slide-4">
					<a href="#flavor-4">
						Disgusting
					</a>
				</li>
			</ul>
		</nav>
	</div><!--End sidebar-->

	<div id="content">
		<section id="flavor-1">
			<!-- <div class="teabag">
				<img src="images/teabag.svg" alt="tea bag">
			</div>
			<div class="mayharvest">
				<img src="images/mayharvest.png" alt="may harvest">
			</div>	
			<div class="teacup">
				<img src="images/cup.png" alt="tea cup">	
			</div> -->
			<!-- <iframe width="560" height="315" src="//www.youtube.com/embed/90qhv3IMfuw" frameborder="0" allowfullscreen></iframe> -->
			<div class="tea-1" id="home-video">
				<img src="images/tea-1.png" data-video="//www.youtube.com/embed/90qhv3IMfuw?autoplay=1" alt="tea recommendation" title="Play Video">
				<span class="play-button">
					<img src="images/play-button.svg" alt="play-button">
				</span>
			</div>
		</section>
		<section id="flavor-2">
			flavor-2
		</section>
		<section id="flavor-3">
			flavor-3
		</section>
		<section id="flavor-4">
			flavor-4
		</section>
	</div>
</div>
<div class="back-button">
	<a class="try-again-btn" href="/">
		<img src="images/capture-icon.svg" alt="capture again">
	</a>
	<!-- <h5>Capture the <Br>colour again</h5> -->
</div>
