body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'univers_ce_45_lightregular';
	font-family: 'adobe_garamondregular';
	background-color: #fff !important;
}

/*font-family: 'adobe_garamondregular';*/
/*font-family: 'univers_ce_55_mediumbold';*/
/*::-webkit-scrollbar { 
    display: none; 
}*/
input:focus {outline:0 !important;}

.list-inline {
	margin-left: 0;
}

a {
	color: #333;
}

a:hover {
	text-decoration: none;
}

h5 {
	font-size: 0.8em !important;
}
.back-button {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 95px;
	height: 80px;
}

.back-button h5 {
	font-weight: bold;
	font-size: 10px;
}

.try-again-btn {
	/*background-color: #db4437;*/
	height: 56px;
	position: relative;
	width: 56px;
	display: block;
	border: 1px solid #677718;
	border-radius: 50%;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	box-sizing: content-box;
	cursor: pointer;
	pointer-events: auto;
	-webkit-user-drag: none;
	-webkit-transform: scale(1) rotate(360deg);
	transform: scale(1) rotate(360deg);
	-webkit-transition: -webkit-transform 150ms cubic-bezier(.4,0,1,1);
	transition: transform 150ms cubic-bezier(.4,0,1,1);
}

/*.try-again-btn:hover {
	color: #fff;
	background-color: rgba(103, 119, 24, 0.9);
}*/

.try-again-btn>img {
	left: 0;
	margin-left: 16px;
	margin-top: 16px;
	position: absolute;
	top: 0;
	-webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
	transition: all .2s cubic-bezier(.4,0,.2,1);
	background-size: 24px;
	display: block;
	height: 24px;
	width: 24px;
	-webkit-user-drag: none;
}

/**
 *  Weather icons
 */

/*@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?h4yf3f');
	src:url('/fonts/icomoon.eot?#iefixh4yf3f') format('embedded-opentype'),
		url('/fonts/icomoon.woff?h4yf3f') format('woff'),
		url('/fonts/icomoon.ttf?h4yf3f') format('truetype'),
		url('/fonts/icomoon.svg?h4yf3f#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;*/

	/* Better Font Rendering =========== */
/*	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE606:before {
	content: "\e606";
}
.icon-uniE605:before {
	content: "\e605";
}
.icon-uniE607:before {
	content: "\e607";
}
.icon-uniE600:before {
	content: "\e600";
}
.icon-uniE601:before {
	content: "\e601";
}
.icon-uniE602:before {
	content: "\e602";
}
.icon-uniE603:before {
	content: "\e603";
}
.icon-uniE604:before {
	content: "\e604";
}*/

.weather-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	opacity: 0.7;
	color: white;
}

.weather {
	font-size: 25px;
}

.weather img {
	width: 32px;
}

.temperature {
	font-size: 23px;
}
/*	End the weather styling */

/*
	Camera
 */
.snap-button-wrapper {
	bottom: 20%;
	width: 100%;
	text-align: center;
	position: absolute;
}

.snap-button {
	background: none;
	border: none;
	width: 50px;
	height: 50px;
}

#my_camera {
	height: 600px;
}

.focusing {
	width: 100px;
	position: absolute;
}

.focusing2 {
	width: 100px;
	position: absolute;
}

.focusing3 {
	width: 100px;
	position: absolute;
}

.check-done {
	position: absolute;
	color: white;
}

.not-display {
	display: none;
}

.pulse {
	-webkit-animation-duration: 0.4s;
	-moz-animation-duration: 0.4s;
	-0-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-iteration-count: 3;
	-moz-animation-iteration-count: 3;
	-0-animation-iteration-count: 3;
	animation-iteration-count: 3;
}

.camera-icon {
	font-size: 23px;
	border: 1px solid white;
	border-radius: 74px;
	padding: 12px;
	color: white;
	background-color: black;
	padding-top: 10px;
}

.camera-wrapper {
	position: relative;
}

.camera-wrapper h4 {
	color: #fff;
	text-align: center;
}

#my_camera>video {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: -1;
}

/* End Camera Styling */
#wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	overflow:hidden;
}

#mask {
	width:500%;
	height:100%;
}

.item {
	width: 20%;
	height: 100%;
	float:left;
	background-color:#ddd;
}

.panel {
	background: none;
}

.btn-wrapper {
	width: 135px;
	margin: 0 auto;
}

.btn {
	display: block;
	/*width: 135px;*/
	margin-bottom: 14px;
	text-shadow: none;
}

.btn a {
	color: #202020;
}

.btn a:hover {
	text-decoration: none;
}

#item2 {
	background-color: #428bca;
}

#item3 {
	background-color: #5cb85c;
}

#item4 {
	background-color: #5bc0de;
}

#item5 {
	background-color: #f0ad4e;
}

.content {
	width: 400px;
	top: 20%;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
	text-align: center;
	padding: 10px;
}

.selected {
	/*background:#fff;
	font-weight:700;*/
}

.clear {
	clear:both;
}

.horizontal-container {
	white-space: nowrap;
	height: 60px;
	/*overflow-x: auto;
	overflow-y: hidden;*/
	position: relative;
	/*bottom: 0;*/
	/*width: 100%;*/
}

.horizontal-container>container {
	padding: 0;
}

.colour-wrapper {
	width: 842px;
	margin: 0 auto;
}

@media (max-width: 849px) {
	.colour-wrapper {
	 	width: 430px;
	}

	#my_camera {
		height: 430px;
	}
}

.colour-wrapper ul {
	display: table;
	height: 70px;
	width: 100%;

}

.colour-box {
	float: left;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	font-family: 'univers_ce_55_mediumbold';
	font-size: 0.7em;
	line-height: 6;
}

.poppy-red {
	background-color: #e72f43;
}

.nectarine {
	background-color: #f8865d;
}

.lemon-zest {
	background-color: #fce56d;
}

.tender-shoots {
	background-color: #b6d357;
}

.emerald {
	background-color: #029d7b;
}

.dusk-blue {
	background-color: #78a1bd;
}

.african-violet {
	background-color: #b385b7;
}

.ballerenia-pink {
	background-color: #e048a3;
}

.pewter-grey {
	background-color: #ADAFAA;
}

.black {
	background-color: black;
}

.camping-brown {
	background-color: #5a2e12;
}

.white {
	background-color: #fff;
}

.colour-wrapper ul li {
	width: 70px;
	height: 70px;
	padding: 0;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-0-border-radius: 5px;
	border-radius: 5px;
	border: 4px solid #202020;
}

.colour-wrapper ul li:last-child {
	padding-right: 0;
}

.colour-box-hover {
	opacity: 0;
	-webkit-transition: opacity 300ms ease;
	-moz-transition: opacity 300ms ease;
	transition: opacity 300ms ease;
	padding: 20px 0;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #202020;
	font-weight: bold;
	font-size: 10px;
	font-size: 0.70909rem;
	line-height: 14px;
	line-height: 1.27273rem;
	letter-spacing: 0.98px;
	letter-spacing: 0.08909rem;
	color: #f4f4f4;
	text-transform: uppercase;
	text-align: center;
}

.colour-selected {
	-webkit-transition: opacity 300ms ease;
	-moz-transition: opacity 300ms ease;
	transition: opacity 300ms ease;
	padding: 20px 0;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #202020;
	font-weight: bold;
	font-size: 10px;
	font-size: 0.70909rem;
	line-height: 14px;
	line-height: 1.27273rem;
	letter-spacing: 0.98px;
	letter-spacing: 0.08909rem;
	color: #f4f4f4;
	text-transform: uppercase;
	text-align: center;
}

/*
	Story page
 */

.slide-control {
	z-index: 3;
	padding-left: 0;
}

.slide-control li {
	list-style: none;
	-moz-transition: background-color .5s;
	-o-transition: background-color .5s;
	-webkit-transition: background-color .5s;
	transition: background-color .5s;
	/*top: 50%;*/
	padding: 0px 35px;
	padding-bottom: 14px;
	/*border-top: 1px solid #e0dedd;*/
}

.slide-control li a {
	/*font-family: 'univers_ce_55_mediumbold';*/
	font-size: 0.8em;
	color: #333;
}

.flavor-wrapper {
	/*margin-top: 70px;*/
	position: relative !important;
	/*margin-top: -50px;*/
	padding-top: 50px;
}


.flavor-wrapper h5{
	font-family: 'univers_ce_55_mediumbold';
	color: #c9c9ca;
	text-transform: uppercase;
	line-height: 1.8;
}

.thankyou-header {
	font-style: italic;
	/*margin-bottom: 40px;*/
	font-size: 6em;
}

.sidebar {
	/*position: fixed;*/
	top: 0;
	width: 100%;
	text-align: center;
	height: 100vh;
	color: #333;
}

.sidebar>section {
	height: 100%;
	padding: 15px;
}
.sidebar>section>.inner-wrapper {
	background-image: url("../images/texture.jpg");
	background-repeat: repeat;
	height: 100%;
}

nav {
	/*position: relative !important;*/
	margin-top: 40px;
	bottom: 0;
}

.nav-head {
	position: relative !important;
}

.nav-head>img {
	width: 125px;
	padding: 20px;
}
.sticky-nav {
	z-index: 99;
	top: 0;
	margin-top: 80px;
}

.nav-active {
	font-weight: bold;
}

.relaxing {
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
}

.relaxing>img {
	width: 100%;
}
.selected-colour {
	width: 70px;
	height: 70px;
	margin: 0 auto;
	margin-top: 15px;
	padding: 0;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-0-border-radius: 5px;
	border-radius: 5px;
}

#content section {
	width: 100%;
	height: 100vh;
	text-align: center;
	padding: 20px;
}

#content section div {
	/*padding-top: 40px;
	padding-left: 150px;*/
	height: 100%;
}

.recommended-tea {
	position: relative !important;
	padding-top: 8%;
}

.teabag {
	width: 133px;
	margin: 0 auto;
	height: 205px !important;
}

.mayharvest {
	width: 395px;
	margin: 0 auto;
	height: 73px !important; 
	margin-bottom: 2%;
}

.teacup {
	width: 300px;
	height: 153px !important;
	margin: 0 auto;
}

.flavor-box {
	margin-top: -25px;
	margin-right: 5px;
	position: absolute;
	right: 0;
}

.flavor-box h2 {
	font-size: 45px;
	/*text-transform: uppercase;*/
}

#flavor-1 div img {
	width: 100%;
}

#flavor-2 {
	
}

#flavor-3 {
	
}

#flavor-4 {
	
}

/*
	Video Playing
 */
#home-video, #home-video img {
	min-width: 100%;
	position: relative;
	display: block;
	overflow: hidden;
	cursor: pointer;
}

#home-video span.play-button {
	/*background: url("../images/play-button.svg");*/
	width: 40px;
	opacity: 0.3;
	top: 20%;
	left: 35%;
	position: absolute;
	display: block;
	background-repeat: no-repeat;
}

/*@media screen and (min-width: 992px) {
	#home-video span.play-button {
		top: 25%;
		left: 47%;
	}
}

@media screen and (min-width: 1700px) {
	#home-video span.play-button {
		top: 35%;
	}
}*/

/*#home-video:hover span.play-button {
	background-position: 0 150px;
	width: 150px;
	height: 150px;
}*/

#home-video span.close-button {
	background: url("../images/close-button.svg");
	width: 22px;
	height: 22px;
	top: 8%;
	right: 2%;
	position: absolute;
	display: block;
	z-index: 100;
	background-repeat: no-repeat;
}

/*#home-video span.close-button:hover {
	background-position: 0 100px;
	width: 100px;
	height: 100px;
}*/

#home-video iframe#video-player {
	min-height: 600px;
	top: 0;
	left: 0;
	position: absolute;
}





















